<?xml version="1.0"?>
<configuration>

    <appender name="SERVER" class="ch.qos.logback.core.FileAppender">
        <file>tracer-server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLIENT" class="ch.qos.logback.core.FileAppender">
        <file>tracer-client.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RESULT" class="ch.qos.logback.core.FileAppender">
        <file>tracer-result.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.gridgain.util.tcp.tracer.MulticastInitiator" level="INFO" additivity="false">
        <appender-ref ref="SERVER" />
    </logger>

    <logger name="org.gridgain.util.tcp.tracer.MulticastClient" level="INFO" additivity="false">
        <appender-ref ref="CLIENT" />
    </logger>

    <logger name="result" level="INFO" additivity="false">
        <appender-ref ref="RESULT" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="SERVER" />
        <appender-ref ref="CLIENT" />
    </root>

</configuration>