<?xml version="1.0"?>
<configuration>

    <appender name="SENDER" class="ch.qos.logback.core.FileAppender">
        <file>tracer-sender.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RECEIVER" class="ch.qos.logback.core.FileAppender">
        <file>tracer-receiver.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.gridgain.util.tcp.tracer.Sender" level="INFO" additivity="false">
        <appender-ref ref="SENDER" />
    </logger>

    <logger name="org.gridgain.util.tcp.tracer.Receiver" level="INFO" additivity="false">
        <appender-ref ref="RECEIVER" />
    </logger>

    <root level="INFO">
        <appender-ref ref="SENDER" />
        <appender-ref ref="RECEIVER" />
    </root>

</configuration>